.login {
  display: flex;
  .btn_back{
    .btnBack{
      width: 50px;
      color: var(--color-Main);
      margin: 20px 0 0 20px;
    }
  }
  .img_login {
    width: 50%;
    .img {
      width: 100%;
      margin-top: 30px;

    }
  }
  .form_login {
    margin-top: 65px ;
    width: 50%;
    padding: 0 40px;
    .logo {
      display: flex;
      margin: 0 auto;
      margin-bottom: 30px;
      width: 200px;
    }
    .form_input_login {
      .form_input_login_name {
        position: relative;
        margin-top: 20px;
        p {
          font-size: 15px;
          font-weight: 600;
          padding-left: 10px;
        }
        .input {
          padding: 15px;
          width: 100%;
          border-radius: 20px;
          border: 1px solid #ccc;
        }
        .show_password_icon{
          position: absolute;
          bottom: 8px;
          right: 15px;  
        }
      }
      .btn_login {
        width: 100%;
        padding: 15px;
        margin-top: 20px;
        border-radius: 20px;
        border: 1px solid #ccc;
        color: #fff;
        font-size: 15px;
        background-color: var(--background-color-Main);
      }
    }
    a {
      text-decoration: none;
      .Already {
        color: var(--color-Main);
        text-align: end;
        margin-top: 15px;
      }
      .Already:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
