.profile_section{
    width: 70%;
    margin: auto;
    .profile{
        text-align: center;
        h2{
            font-weight: 500;
        }
        p{
            color: #7a7a7a;
        }
        .profile_pic{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 3px solid var(--color-Main);
        }
    }
    .profile_info{
        h3{
            font-weight: 500;
        }
        .info{
            margin-left: 30px;
            p{
                font-weight: 400;
                color: #7a7a7a;
            }
            span{
                font-weight: 400;
            }

            
        }
    }

}