.register {
  display: flex;
  margin-top: 120px;
  .btn_back {
    .btnBack {
      width: 50px;
      color: var(--color-Main);
      margin: 20px 0 0 20px;
    }
  }
  .img_register {
    width: 50%;
    .img {
      width: 100%;
    }
  }
  .form_register {
    margin-top: 20px;
    width: 50%;
    padding: 0 40px;
    .logo {
      display: flex;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    .form_input_register {
      .form_input_register_name {
        margin-top: 20px;
        p {
          font-size: 15px;
          font-weight: 600;
          padding-left: 10px;
        }
        .input {
          padding: 15px;
          width: 100%;
          border-radius: 20px;
          border: 1px solid #ccc;
        }
        .show_password {
          display: flex;
          margin-top: 5px;
          margin-left: 3px;
          p {
            font-weight: 100;
          }
        }
      }
      .btn_register {
        width: 100%;
        padding: 15px;
        margin-top: 20px;
        border-radius: 20px;
        border: 1px solid #ccc;
        color: #fff;
        font-size: 15px;
        background-color: var(--background-color-Main);
      }
    }
    a {
      text-decoration: none;
      .Already {
        color: var(--color-Main);
        text-align: center;
        margin-top: 5px;
      }
      .Already:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
