.style {
  .chart1 {
    height: 300px;
    /* background-color: #ccc; */
  }
  .ok {
    margin-top: 10px;
    display: flex;
    .chart2 {
      flex: 1;
      margin-right: 10px;
      height: 300px;
      /* background-color: #ccc; */
    }
    .chart3 {
      height: 300px;
      /* background-color: #ccc; */
      flex: 1;
    }
  }
}
